@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Oswald', sans-serif ;
}

body{
    background: url(imagenes/History\ GGM.png);
    background-color: #ffffffbf;
}
header{
    width: 100%;
    height: 90px;
    background-color: rgb(1, 92, 1);
}
.navegacion{
    position: fixed; 
    top: 0;
    left: 10%; 
    background-color: #0a4e01;
    padding: 30px; 
    z-index: 1000;
    width: 1600px;
}


.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.logo{
    float: left;
    padding: 5px 20px 0;
}
.logo img{
    height: 80px;
    position: fixed;
}
.logo img:hover{
    transform: scale(1.1);
}

.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
    min-width: 300px;
}
.navegacion ul{
    list-style: none;
    padding: 0 10px;
    min-width: 300px;
}
.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
    
}
.navegacion ul li:hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: #f7f0f0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.navegacion ul li a:hover{
    color: #40ee0b;
    transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
    display: block;
}
.navegacion .submenu .hijos{
    display: none;
    background: #258607;
    position: absolute;
    width: 100%;
}
.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}
.navegacion .submenu .hijos li a{
    display: block;
}

  
#quinta-seccion {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#quinta-seccion-izq{
flex: 1;
}
#quinta-seccion-izq >h2{
    text-transform: uppercase;
    font-family: 'montserrat', sans-serif;
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
#quinta-seccion-izq >p{
    margin-bottom: 5rem;
    font-size: 1.5rem;
}
#quinta-seccion-der{
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 10px;
    justify-items: center;
    align-items: center;
}
#quinta-seccion-der > img{
    max-width: 100%;
}
#quinta-seccion-der >hr{
    width: 4.5re;
    border-color: #44bd32;
    margin-left: 0;
    margin-bottom: 3rem;
}
#cuarta-seccion{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.905)),url(imagenes/gabriel.jpeg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}
#contenedor{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.mitad{
    width: 50%;
}
#cuarta-seccion.der >h2{
text-transform: uppercase;
font-size: 4.0rem;
font-weight: 700;
margin-bottom: 1.5rem;  
}
#cuarta-seccion-der >hr{
    width: 4.5rem;
    border-color: #44bd32;
    margin-left: 0;
    margin-bottom: 3rem;
}
#cuarta-seccion-der >p{
    margin-bottom: 4rem;
    font-size: 1.5rem;
}
.image-text-section {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    padding: 0px; 
    background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(253, 249, 249, 0.905)),url(imagenes/History\ GGM.png) no-repeat center/cover;
  }
  
  .image-container {
    width: 50%; 
    padding: 10px; 
    box-sizing: border-box;
  }
  
  .image-container img {
    width: 60%;
    height: 50%; 
    margin: 10px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(8, 77, 5, 0.2); 
  }
  
  .text-container {
    width: 40%; 
    padding: 10px; 
    box-sizing: border-box; 
  }
  .text-container >h2{
    color: #208800;
    font-size: 1.9rem;
  }
  .text-container >p{
    color: #000000;
    font-size: 1.3rem;
  }
  .nota-musical {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(253, 249, 249, 0.905)),url(imagenes/History\ GGM.png) no-repeat center/cover;
  }
  
  .texto-nota {
    width: 50%; 
    padding: 20px; 
    box-sizing: border-box;
    border-right: 1px solid #ccc; 
    font-size: 1.3rem;
  }
  
  .imagen-nota {
    width: 50%; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .imagen-nota img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .titulo-foto {
      display: flex; 
      flex-direction: row; 
      align-items: center; 
      padding: 20px; 
      background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(253, 249, 249, 0.905)),url(imagenes/History\ GGM.png) no-repeat center/cover; 
    }
    .titulo-foto {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      padding: 20px; 
      background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(253, 249, 249, 0.905)),url(imagenes/History\ GGM.png) no-repeat center/cover;
    }
    
    .titulo {
      width: 100%; 
      padding: 20px; 
      box-sizing: border-box; 
      font-size: 30px; 
      font-weight: bold; 
      text-align: center;
    }
    
    .foto {
      width: 100%; 
      padding: 10px; 
      box-sizing: border-box; 
      height: 310px; 
      object-fit: cover; 
      border-radius: 10px; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    }
  .footer {
    background-color: #126e00; 
    color: #fff; 
    padding: 10px;
    text-align: center; 
    font-size: 12px; 
  }
  
  .social-media {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center; 
  }
  
  .social-media li {
    margin: 0 5px; 
  }
  
  .social-media a {
    color: #fff; 
    text-decoration: none; 
  }
  
  .social-media a:hover {
    color: #ccc; 
  }